.socialContainer{
    list-style: none;
    display: flex;
    justify-content: center;
}
.socialContainer img{
    width: 70px;
    margin-right: 10px;
}
.copy{
    text-align: center;
    font-size: 30px;
}